In [4]:
import os

# get absolute path
base_path = os.getcwd()
print(base_path)

#get data syllable path
data_path = os.path.join(base_path, 'data\\syllable-level')
print(data_path)

d:\IDE_workspace\VSCode\TLCN_Project\ViText2SQL
d:\IDE_workspace\VSCode\TLCN_Project\ViText2SQL\data\syllable-level

In [13]:
train_dataset_path = os.path.join(data_path, 'train.json')
table_dataset_path = os.path.join(data_path, 'tables.json')

In [14]:
import json

train_dataset = json.load(open(train_dataset_path))
table_dataset = json.load(open(table_dataset_path))

In [51]:
def see_query_n_question(row):
    return row['question'], row['query']

def see_table_schema(row):
    tables = {r:[] for r in row['table_names']}
    for r in row['column_names'][1:]:
        # add column to coresponding table
        tables[row['table_names'][r[0]]].append(r[1])
    return tables

def find_db_id_from_query(data):
    db_id = data['db_id']
    for table in table_dataset:
        if table['db_id'] == db_id:
            return table

def find_db_id_from_table(data):
    db_id = data['db_id']
    question_n_query = []
    for r in train_dataset:
        if r['db_id'] == db_id:
            question_n_query.append((r['question'], r['query']))

In [49]:
def all_info(data):
    table = find_db_id(data)
    question, query = see_query_n_question(data)
    cols = see_table_schema(table)
    return cols, question, query

In [61]:
id = 2100
schema, query, question = all_info(train_dataset[id])
display(schema)
print(query)
print(question)

5

Tìm tên của ký túc xá với sức chứa lớn nhất .
select tên ký túc xá from ký túc xá order by sức chứa desc limit 1

In [63]:
all_table = [see_table_schema(table) for table in table_dataset]
len(all_table)

166

In [68]:
ll = {}
for table in all_table:
    ll[len(table)] = ll.get(len(table), 0) + 1

In [69]:
ll

{2: 23,
 11: 6,
 3: 55,
 4: 26,
 15: 2,
 14: 2,
 7: 14,
 5: 10,
 9: 3,
 8: 5,
 12: 3,
 6: 8,
 16: 3,
 26: 1,
 10: 2,
 13: 2,
 17: 1}